@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #5b5378;
    --secondary-color: #dcc555;
    --secondary-color-dark: #cfb94a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    width: 100vw;
}

.container {
    position: relative;
    height: 100vh;
    width:80%;
    margin:auto;
}

/* HEADER STYLING */
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem !important;
    color: var(--primary-color);
    margin:auto;
}

.header-logo {
    padding-top:10px;
    margin-right:10px;
    width: 200px;
    height: auto;
}
.header-title {
    display: inline;
    font-size: 80px !important;
    text-align: center;
    font-weight: 800;
}

/* NAVBAR STYLING */
.nav.menu {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.item.active {
    color: var(--secondary-color) !important;
}

/* FORM STYLING */
.form-container {
    width:80%;
    margin:50px auto!important;
    padding-bottom: 3em !important;
}

.form-btn {
    padding-bottom: 3em !important;
}

.ui.yellow.button {
    background-color: var(--secondary-color) !important;
}

.ui.yellow.button:hover {
    background-color: var(--secondary-color-dark) !important;
}