@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    width: 100vw;
}

/* NAVBAR STYLING */
.nav.menu {
    position: fixed;
    height:100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 75px !important;
}

.item {
    align-self: start !important;
}

.item.active {
    color: purple !important;
}